#==============================================================================#
# GITIGNORE
#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#

#==============================================================================#
# Project specific
#==============================================================================#
_ignore
experiments/resources
tests/resources

#==============================================================================#
# PYTHON
#==============================================================================#
#==============================================================================#
#   Byte-compiled / optimized / DLL files
#==============================================================================#
__pycache__/
*.py[cod]
*$py.class
#==============================================================================#
#   C extensions
#==============================================================================#
*.so
#==============================================================================#
#   Distribution / packaging
#==============================================================================#
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
#==============================================================================#
#   PyInstaller
#==============================================================================#
*.manifest
*.spec
#==============================================================================#
#   Installer logs
#==============================================================================#
pip-log.txt
pip-delete-this-directory.txt
#==============================================================================#
#   Unit test / coverage reports
#==============================================================================#
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
#==============================================================================#
#   Translations
#==============================================================================#
*.mo
*.pot
#==============================================================================#
#   Django stuff:
#==============================================================================#
*.log
#==============================================================================#
#   Sphinx documentation
#==============================================================================#
docs/_build/
#==============================================================================#
#   PyBuilder
#==============================================================================#
target/

#==============================================================================#
# IDE
#==============================================================================#
#==============================================================================#
# Eclipse
#==============================================================================#
.project
*target*
*.pydevproject
.metadata
.gradle
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
#==============================================================================#
#   External tool builders
#==============================================================================#
.externalToolBuilders/
#==============================================================================#
#   Locally stored "Eclipse launch configurations"
#==============================================================================#
*.launch
#==============================================================================#
#   CDT-specific
#==============================================================================#
.cproject
#==============================================================================#
#   JDT-specific (Eclipse Java Development Tools)
#==============================================================================#
.classpath
#==============================================================================#
#   Java annotation processor (APT)
#==============================================================================#
.factorypath
#==============================================================================#
#   PDT-specific
#==============================================================================#
.buildpath
#==============================================================================#
#   sbteclipse plugin
#==============================================================================#
.target
#==============================================================================#
#   LateX
#==============================================================================#
.texlipse
#==============================================================================#
#   STS (Spring Tool Suite)
#==============================================================================#
.springBeans

#==============================================================================#
#   Jetbrains
#==============================================================================#
.idea/
*.iws
*.iml
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

#==============================================================================#
# OS
#==============================================================================#
#==============================================================================#
# Linux
#==============================================================================#
#   General
#==============================================================================#
*~
#==============================================================================#
#   KDE directory preferences
#==============================================================================#
.directory
#==============================================================================#
#   Linux trash folder which might appear on any partition or disk
#==============================================================================#
.Trash-*

#==============================================================================#
# TEX
#==============================================================================#
#==============================================================================#
#   Core latex/pdflatex auxiliary files
#==============================================================================#
*.aux
*.lof
*.lot
*.fls
*.out
*.toc
#==============================================================================#
#   Intermediate documents
#==============================================================================#
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf
#==============================================================================#
#   Bibliography auxiliary files
#==============================================================================#
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml
#==============================================================================#
#   Build tool auxiliary files
#==============================================================================#
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
#==============================================================================#
#   Package: algorithms
#==============================================================================#
*.alg
*.loa
#==============================================================================#
#   Package: achemso
#==============================================================================#
acs-*.bib
#==============================================================================#
#   Package: amsthm
#==============================================================================#
*.thm
#==============================================================================#
#   Package: beamer
#==============================================================================#
*.nav
*.snm
*.vrb
#==============================================================================#
#   Package: (e)ledmac/(e)ledpar
#==============================================================================#
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
#==============================================================================#
#   Package: glossaries
#==============================================================================#
*.acn
*.acr
*.glg
*.glo
*.gls
#==============================================================================#
#   Package: gnuplottex
#==============================================================================#
*-gnuplottex-*
#==============================================================================#
#   Package: knitr
#==============================================================================#
*-concordance.tex
*.tikz
*-tikzDictionary
#==============================================================================#
#   Package: listings
#==============================================================================#
*.lol
#==============================================================================#
#   Package: makeidx
#==============================================================================#
*.idx
*.ilg
*.ind
*.ist
#==============================================================================#
#   Package: minitoc
#==============================================================================#
*.maf
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]
#==============================================================================#
#   Package: minted
#==============================================================================#
_minted*
*.pyg
#==============================================================================#
#   Package: morewrites
#==============================================================================#
*.mw
#==============================================================================#
#   Package: mylatexformat
#==============================================================================#
*.fmt
#==============================================================================#
#   Package: nomencl
#==============================================================================#
*.nlo
#==============================================================================#
#   Package: sagetex
#==============================================================================#
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd
#==============================================================================#
#   Package: sympy
#==============================================================================#
*.sout
*.sympy
sympy-plots-for-*.tex/
#==============================================================================#
#   Package: pdfcomment
#==============================================================================#
*.upa
*.upb
#==============================================================================#
#   Package: pythontex
#==============================================================================#
*.pytxcode
pythontex-files-*/
#==============================================================================#
#   Package: TikZ & PGF
#==============================================================================#
*.dpth
*.md5
*.auxlock
#==============================================================================#
#   Package: todonotes
#==============================================================================#
*.tdo
#==============================================================================#
#   Package: xindy
#==============================================================================#
*.xdy
#==============================================================================#
#   Package: WinEdt
#==============================================================================#
*.sav
#==============================================================================#
#   Package: endfloat
#==============================================================================#
*.ttt
*.fff
